.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: -42px;
}
.wrapper i:last-child{
    right: -42px;
}
.wrapper .award_carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.award_carousel::-webkit-scrollbar {
    display: none;
}
.award_carousel.no-transition {
    scroll-behavior: auto;
}
.award_carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.award_carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.award_carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.award_carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    border-color: rgb(147,172,172);
}
.award_carousel .card .img {
    background: #b1d3dc;
    height: 168px;
    width: 168px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    
}
.card .img img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    
}
.award_carousel .card h2 {
    font-weight: 500;
    font-size: 1.26rem;
    margin: 20px 0px 0px;
}
.award_carousel .card h3 {
    font-weight: 500;
    font-size: 1.26rem;
    margin: 10px 0px 0px;
}
.award_carousel .card span {
    color: #6A6D78;
    font-size: 1rem;
    margin: 10px 40px 0px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .wrapper .award_carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .wrapper .award_carousel {
      grid-auto-columns: 100%;
    }
}/*# sourceMappingURL=custom.css.map */

/* guidelines */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    background-color: #f0f0f000;
}
.content-box {
    width: 400px;
    height: 450px;
    border: 1px solid #cccccc00;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-box p{
    font-size: 3rem;
    color: white;
}

.content-box1 {
    height: 450px;
    border: 1px solid #cccccc00;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-box1 p{
    font-size: 3rem;
    color: white;
}

a {
    color: #18272F;
    position: relative;
    text-decoration: none;
}
  
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

P {
    font-size: 14px;
}
